.categorize {
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: grid;
  grid-template: "left default right" 1fr / auto auto auto;
  gap: .5em;
  overflow: hidden;
}

.zone {
  padding: .5em 0 0 0;
  display: grid;
  grid-template: "category" auto "cards" 1fr / 1fr;
  gap: .5em;
  align-items: center;
  width: max-content;
  min-width: calc(var(--card-width) + 2em + 2px);
  border-radius: 0.25em;
  background-color: oklch(from var(--lighter-background) calc(l + .1) c h);
}

.zone:nth-child(1) {
  grid-area: default;
}

.zone:nth-child(2) {
  grid-area: left;
}

.zone:nth-child(3) {
  grid-area: right;
}

.zone>h2 {
  grid-area: category;
}

.zone .draggable {
  grid-area: cards;
  width: auto;
}

.cards {
  grid-area: cards;
  display: flex;
  flex-direction: row;
  gap: .3em;
  margin: 0 1em 1em 1em;
}