.choice {
  font-size: .9em;
  display: grid;
  grid-template: "prompt" auto "actions" 1fr / 1fr;
  gap: 1em;
  place-items: center;
  background-color: var(--lighter-background);
  z-index: 10;
  width: max-content;
  height: max-content;
  position: relative;
  border: var(--layout-border);
}

.prompt {
  grid-area: prompt;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: row;
  gap: 1em;
}