.choice {
  display: grid;
  grid-template: "prompt" auto "actions" 1fr / 1fr;
  width: fit-content;
  gap: 1em;
  padding: 1em;
  align-items: center;
  justify-items: center;
  background-color: var(--background-color);
  z-index: 10;
  position: fixed;
  place-self: center;
  bottom: 0;
  box-shadow: 0 0 var(--shadow-depth) 0 var(--shadow-color);
}

.noObscureHand {
  position: absolute;
}

.prompt {
  grid-area: prompt;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: row;
  gap: 1em;
}