.choice {
  font-size: 0.9em;
  display: grid;
  grid-template: "prompt" auto "actions" 1fr / 1fr;
  gap: 1em;
  padding: 1em;
  align-items: center;
  justify-items: center;
  background-color: var(--background-color);
  z-index: 10;
  width: max-content;
  height: max-content;
  position: relative;
  justify-self: center;
  box-shadow: 0 0 var(--shadow-depth) 0 var(--shadow-color);
  border: var(--layout-border);
}

.prompt {
  grid-area: prompt;
}

.actions {
  grid-area: actions;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
