.react {
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  z-index: 1;
  overflow: hidden;
}

.cards {
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  position: relative;
  padding: 0.125em;
}

.effect {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.effect>h2 {
  margin: 0;
}