.react {
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-self: center;
  align-self: end;
  width: max-content;
  height: max-content;
  background-color: var(--background-color);
  z-index: 1;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 0 var(--shadow-depth) 0 var(--shadow-color);
  background-color: var(--lighter-background);
}

.cards {
  justify-content: center;
  align-content: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  position: relative;
  padding: 0.5em 1em 1em 1em;
}

.effect {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.effect>h2 {
  margin: 0;
}