.App {
  text-align: center;
  --card-normal-width: 100px;
  --card-normal-name-size: 16px;
  --card-normal-font-size: 12px;
}

.App-main {
  min-height: 100vh;
  display: grid;
  grid-template: ". status" 5% "board status" 50% "play-area play-area" 20% "player player" 25% / 1fr auto;
  align-items: start;
  justify-content: center;
  justify-items: center;
  font-size: calc(10px + 0.5vmin);
}