.App {
  text-align: center;
  --card-normal-width: 10em;
  --highlight-radius: .25em;
  --highlight-blur-radius: .4em;
}

.App-main {
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  display: grid;
  overflow: hidden;
  align-items: start;
  justify-content: center;
  justify-items: center;
  --font-size: calc(1.2vmin);
  --large-font-size: calc(1.3em);
  font-size: var(--font-size);
  --background-color: #1a1918;
  background-color: var(--background-color);
  color: rgb(148, 131, 151);
}

::selection {
  background: inherit;
}