html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  --bg-color: rgb(65, 65, 65);
  background-color: var(--bg-color);
  color: inherit;
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 1px 1px #9e4c98;
  padding: .5em;
  font-size: var(--large-font-size);
}

button:hover:not(:disabled) {
  background-color: rgb(from var(--bg-color) calc(r + 15) calc(g + 15) calc(b + 15));
}