.container {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: 3em 1fr;
}

.userChrome {
  width: 100%;
  background-color: var(--lighter-background);
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-items: end;
  align-items: center;
  place-content: end;
  position: fixed;
  height: 3em;
  gap: 1em;
  grid-row: 1;
}

.content {
  height: 100%;
  grid-row: 2;
  overflow: hidden;
}
