.game {
  height: 100vmin;
  width: 100vmax;
  display: grid;
  grid-template: ". . . ." 0% "status status status status" 3.5% ". board log opponents" 30% "choice choice choice choice" 8% "play-area play-area play-area play-area" 24% "player player player player" 29.5% / 1fr auto 1fr auto;
  overflow: hidden;
  align-items: start;
  justify-content: center;
  justify-items: center;
  gap: 1%;
}