.reveal {
  display: grid;
  grid-template: "title" auto "cards" 1fr / 1fr;
  width: max-content;
  align-self: end;
  justify-self: center;
  gap: .25em;
  align-items: center;
  justify-items: center;
  z-index: 1;
  overflow: hidden;
}

.revealedCards {
  grid-area: cards;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-template-rows: 1fr;
  gap: .5em;
  overflow-x: scroll;
  padding: .25em;
  justify-content: center;
  width: 100%;
}

.title {
  grid-area: title;
}