.reveal {
  display: grid;
  grid-template: "title" auto "cards" 1fr / 1fr;
  width: max-content;
  align-self: end;
  justify-self: center;
  height: max-content;
  gap: 0.25em;
  padding: 0.5em;
  align-items: center;
  justify-items: center;
  background-color: var(--background-color);
  z-index: 1;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 0 var(--shadow-depth) 0 var(--shadow-color);
}

.revealedCards {
  grid-area: cards;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-template-rows: 1fr;
  gap: 0.5em;
  overflow: scroll;
  padding: 0.25em;
  justify-content: center;
  width: 100%;
}

.title {
  grid-area: title;
}
