.container {
  width: 22em;
  height: fit-content;
  display: grid;
  grid-template: "name name" "turn phase" "players players" 1fr / 1fr 1fr;
  padding: 0 1em 1em 1em;
  gap: 1em;
  justify-self: end;
  background-color: var(--lighter-background);
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
  border-radius: .25em;
}

.name {
  grid-area: name;
  text-align: center;
}

.players {
  grid-area: players;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.player {
  text-align: left;
  padding: .5em;
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
}

.myPlayer {
  background-color: rgb(44, 3, 44);
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
}

.activePlayer {
  box-shadow: 0 0 2px 0px yellow, 0 0 var(--shadow-depth) 1px var(--shadow-color);
}

.currentPlayer {
  box-shadow: 0 0 2px 0px blueviolet, 0 0 var(--shadow-depth) 1px var(--shadow-color);
}

.turn {
  grid-area: turn;
  justify-content: center;
}

.phase {
  grid-area: phase;
  justify-content: center;
}