.board {
    grid-area: board;
    display: grid;
    grid-template: "province gold line pile1 pile2 pile3 pile4 pile5" 1fr
        "duchy silver line pile6 pile7 pile8 pile9 pile10" 1fr
        "estate copper line . . . . ." 1fr
        "curse . line . . . . ." 1fr / var(--card-normal-width) var(--card-normal-width) 1px var(--card-normal-width) var(--card-normal-width) var(--card-normal-width) var(--card-normal-width) var(--card-normal-width);

    gap: 1rem;
    padding: 1rem;
}

.vr {
    height: 100%;
    width: 0px;
    border: .5px solid black;
    margin: 0;
}