.game {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: "board board gameInfo" 33.5% "choice choice log" 8% "play-area play-area log" 25.5% "player player player" 33% / auto 1fr;
  overflow: hidden;
  align-items: start;
  justify-content: center;
  justify-items: center;

  @media (max-aspect-ratio: 1.5) {
    grid-template: "board board board board" 33.5% "log choice choice gameInfo" 8% "log play-area play-area gameInfo" 25.5% "player player player player" 33% / auto 1fr 1fr auto;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(26, 25, 24, 0.5);
  display: grid;
}

.result {
  align-self: center;
  justify-self: center;
}

.loading {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}