.game {
  height: 100%;
  width: 100svw;
  display: grid;
  grid-template: "board board gameInfo" 33.5% "choice choice log" 8% "play-area play-area log" 25.5% "player player player" 33% / auto 1fr;
  overflow: hidden;
  align-items: start;
  justify-content: center;
  justify-items: center;
  --icon-width: 2.5em;

  @media (max-aspect-ratio: 1.5) {
    grid-template: "board board board board" 33.5% "log choice choice gameInfo" 8% "log play-area play-area gameInfo" 25.5% "player player player player" 33% / auto 1fr 1fr auto;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(26, 25, 24, 0.5);
  display: grid;
}

.result {
  align-self: center;
  justify-self: center;
  background-color: var(--background-color);
  padding: 1em;
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.loading {
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  position: absolute;
  right: 0;
  margin: .5em;
  gap: .5em;
}