.cardFrame {
  display: grid;
  align-items: center;
  width: auto;
  height: max-content;
  border-radius: 0.5em;
  position: relative;
}

.card {
  display: grid;
  grid-template: "card-front" 100% "card-bottom" 0% / 1fr;
  align-items: center;
  justify-content: center;
  aspect-ratio: 59 / 93;
  background-color: #f0f0f0;
  border-radius: 0.25em;

  background-size: cover;
  background-repeat: no-repeat;
  border: none;

  width: var(--card-width);

  --card-default-shadow: 0 0 1px 1px black, -.05em .1em .1em black;
  box-shadow: var(--card-default-shadow);
  transition: opacity 0.25s ease;
  --highlight-blur-radius: 0;
  --highlight-radius: .125em;
}

.highlightedBuy {
  box-shadow:
    var(--card-default-shadow),
    0 0 var(--highlight-blur-radius) var(--highlight-radius) oklch(85.45% 0.15 100);
}

.highlightedPlayThenBuy {
  box-shadow:
    var(--card-default-shadow),
    0 0 var(--highlight-blur-radius) var(--highlight-radius) oklch(85.45% 0.15 150);
}

.highlightedPlay {
  box-shadow:
    var(--card-default-shadow),
    0 0 var(--highlight-blur-radius) var(--highlight-radius) oklch(85.45% 0.15 200);
}

.highlightedDiscard {
  box-shadow:
    var(--card-default-shadow),
    0 0 var(--highlight-blur-radius) var(--highlight-radius) #dd00d0;
}

.highlightedSelect {
  box-shadow:
    var(--card-default-shadow),
    0 0 var(--highlight-blur-radius) var(--highlight-radius) #64b4ff;
}

.highlightedSelected {
  box-shadow:
    var(--card-default-shadow),
    0 0 var(--highlight-blur-radius) var(--highlight-radius) oklch(85.45% 0.25 100);
}

div[draggable="true"] .dimmed {
  opacity: unset;
}

.cardFrame .card.compact {
  aspect-ratio: 1 / 1;
  width: var(--card-width);
  grid-template:
    "card-front" 85%
    "card-bottom" 15% / 1fr;
}

.cardBottom {
  grid-area: card-bottom;
  width: 100%;
  height: 100%;
  align-self: end;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.25em;
  background-position-y: 96%;
  box-shadow: 0 -.05em .1em var(--shadow-color);
}

.cardFront {
  background-size: cover;
  background-repeat: no-repeat;
}

.remaining {
  font-size: .7em;
  box-sizing: content-box;
  grid-area: card-bottom;
  background-color: var(--bg-color);
  font-weight: 300;
  border-radius: .25em;
  width: 1em;
  aspect-ratio: 1 / 1;
  align-content: center;
  align-self: end;
  justify-self: end;
  position: relative;
  z-index: 0.5;
  box-shadow: 0 0 1px 1px black;
}