.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

.lit {
  box-shadow: 0 0 .125em 2px white;
}

.iconButton:disabled {
  opacity: unset;
}

.toggled {
  transform: rotate(-90deg);
}

.toggleable {
  transition: transform .2s linear;
}