.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}

.lit {
  box-shadow: 0px 0px var(--highlight-blur-radius) var(--highlight-radius) rgb(145, 184, 255);
  /* box-shadow: var(--indicator-shadow); */
}

.iconButton:disabled {
  opacity: unset;
  background-color: rgb(from var(--icon-color) r g b / .5);
}

.iconButton {
  height: fit-content;
}

.rotate.toggled {
  transform: rotate(-90deg);
}

.flip.toggled {
  transform: rotateY(180deg);
}

.toggleable {
  transition: transform .2s linear;
}