.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10000;
}

.lit {
  box-shadow: 0 0 0 var(--highlight-radius) var(--icon-highlight-color);
}

.iconButton {
  height: fit-content;
}

.rotate.toggled {
  transform: rotateY(-180deg);
}

.flip.toggled {
  transform: rotateY(180deg);
}

.toggleable {
  transition: transform 0.2s linear;
}

@media (max-aspect-ratio: 1.7) {
  .rotate.toggled {
    transform: rotate(-90deg);
  }
}
