.resources {
  justify-self: center;
  align-self: start;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: row;
  justify-items: center;
  align-items: end;
  gap: .5em;
}

.resource {
  width: min-content;
  display: flex;
  flex-direction: row;
  gap: .25em;
}

.resourceCounts {
  min-width: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: .25em;
}