.tray {
  gap: .5em;
  transition: left .2s linear, right .2s linear;
  position: relative;
}

.openRight {
  left: 0;
}

.closedRight {
  left: 200%;
}

.trayContainer {
  display: flex;
  flex-direction: column;
  gap: .5em;
}