.tray {
  gap: .5em;
  transition: left .2s linear, right .2s linear;
  position: relative;
}

.arrowTray {
  gap: .5em;
  transition: left .2s linear, right .2s linear;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.openRight {
  left: 0;
}

.closedRight {
  left: 200%;
}

.openLeft {
  right: 0;
}

.closedLeft {
  right: 35%;
}

.trayContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: .5em;
}