.hud {
  display: grid;
  grid-template: "hand" 1fr / 1fr;
  width: 100%;
  height: max-content;
  column-gap: 1em;
  align-items: end;
  justify-items: start;
  position: relative;
  place-self: end;
  /* border: 2px solid fuchsia; */
}

.active {
  box-shadow: var(--indicator-shadow);
}

.playerName {
  position: absolute;
  font-size: 0.75em;
  padding: 0.25em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
  top: -2em;
  left: 0.25em;
}

.hand {
  min-height: calc(93 / 59 * var(--card-width) + 0.5em);
  font-size: 0.8em;
  grid-area: hand;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--card-width);
  grid-template-rows: 1fr;
  gap: 0.35em;
  width: 100%;
  justify-content: start;
  overflow-x: scroll;
  position: relative;
  z-index: 1;
  padding: 0.25em;
  justify-self: start;
  align-self: end;
}
