.hud {
  grid-area: player;
  display: grid;
  grid-template: "hand" 1fr / 1fr;
  width: 100%;
  height: 100%;
  column-gap: 1em;
  align-items: end;
  justify-items: start;
  position: relative;
}

.active {
  box-shadow: 0 0 var(--highlight-blur-radius) var(--highlight-radius) #0ddddd;
}

.playerName {
  font-size: .5em;
  /* display: none; */
  position: absolute;
  left: .5em;
  top: -2em;
  z-index: 1;
  padding: 0.5em;
  border-radius: .25em;
}

.hand {
  font-size: .8em;
  grid-area: hand;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-rows: 1fr;
  gap: .35em;
  width: 100%;
  justify-content: start;
  overflow-x: scroll;
  position: relative;
  z-index: 1;
  padding: 0.25em;
  justify-self: start;
}