.hud {
  grid-area: player;
  display: grid;
  grid-template: "resources hand" 1fr / auto 1fr;
  width: 100%;
  height: 100%;
  column-gap: 1em;
  align-items: end;
  justify-items: start;
  position: relative;
}

.playerName {
  display: none;
  position: absolute;
  left: .5em;
  top: -2em;
  z-index: 1;
  padding: 0.5em;
}

.hand {
  font-size: .8em;
  grid-area: hand;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-rows: 1fr;
  gap: .3em;
  width: 100%;
  justify-content: start;
  overflow-x: scroll;
  position: relative;
  z-index: 1;
  padding: 0.25em;
}