.container {
  container-type: size;
  container-name: not-board;
  width: 100%;
  height: 100%;
}

.notBoard {
  display: grid;
  grid-template: "play-area play-area" 2fr "icons prompt" 1fr "icons player" max-content / max-content 1fr;
  width: 100%;
  height: 100%;
}

.resources {
  grid-area: icons;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: end;
  border: var(--layout-border);
}

.overlay {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(26, 25, 24, 0.5);
  display: grid;
  z-index: 10;
}

.result {
  align-self: center;
  justify-self: center;
  background-color: var(--background-color);
  padding: 1em;
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.playArea {
  font-size: .75em;
  grid-area: play-area;
  display: grid;
  height: 100%;
  width: 100%;
  position: relative;
  border: var(--layout-border);
}

.player {
  grid-area: player;
  height: 100%;
  width: 100%;
  border: var(--layout-border);
}

.prompt {
  border: var(--layout-border);
  position: relative;
  grid-area: prompt;
  height: 100%;
  width: 100%;
}

@container not-board (min-aspect-ratio: 1.8) {
  .prompt {
    &.obscureHand {
      grid-area: player;
      height: max-content;
      width: max-content;
      justify-self: center;
    }

    &.obscurePlayArea {
      grid-area: play-area;
    }

    z-index: 10;
  }

  .notBoard {
    grid-template: "icons play-area" 2fr "icons play-area" 1fr "icons player" max-content / max-content 1fr;
  }
}