.gameList {
  height: 100%;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 1em;
  overflow-y: scroll;
  font-size: .7em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.listings {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 17em;
  grid-template-rows: 11em;
  gap: 1em;
  overflow: scroll hidden;
  padding: .5em 0 .5em 0;
}

.gameListing {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: "name abandon" auto "players players" 1fr / 1fr auto;
  gap: 1em;
  padding: 1em;
  background-color: var(--lighter-background);
  border-radius: 0.5em;
  overflow: hidden;
  align-items: center;

  &:hover {
    background-color: oklch(from var(--lighter-background) calc(l + .1) c h);
  }
}

.emptyListing {
  height: 100%;
  width: 100%;
  background-color: var(--lighter-background);
  border-radius: 0.5em;
  place-items: center;
  place-content: center;
}

.players {
  height: 100%;
  grid-area: players;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.playerEntry {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr;
  justify-items: start;
  gap: .5em;
}

.active {
  box-shadow: 0 0 var(--highlight-blur-radius) var(--highlight-radius) #0ddddd;
}

.name {
  grid-area: name;
}

.player:nth-of-type(1) {
  grid-area: player1;
}

.player:nth-of-type(2) {
  grid-area: player2;
}

.player:nth-of-type(3) {
  grid-area: player3;
}

.player:nth-of-type(4) {
  grid-area: player4;
}

.enter {
  grid-area: enter;
}

.abandon {
  grid-area: abandon;
}

.waiting {
  height: min-content;
  width: max-content;
  display: flex;
  place-items: center;
  place-content: center;
  position: relative;
}

.waiting::before {
  content: "";
  aspect-ratio: 1 / 1;
  position: absolute;
  width: 0;
  animation: breathe 8s infinite alternate ease-in-out;
  box-shadow: 0 0 .06em .06em white;
  border-radius: 50%;
  z-index: -1;
}

@keyframes breathe {
  from {
    width: calc(100% + 3em);
  }

  to {
    width: calc(100% + 5em);
  }
}