.gameList {
  height: 100%;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 1em;
  overflow-y: scroll;
  font-size: .7em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.listings {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 17em;
  grid-template-rows: 11em;
  gap: 1em;
  overflow: scroll hidden;
  padding: .5em 0 .5em 0;
}

.gameListing {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: "name abandon" auto "players players" 1fr / 1fr auto;
  gap: 1em;
  padding: 1em;
  background-color: rgb(from var(--background-color) calc(r + 10) calc(g + 10) calc(b + 10));
  border-radius: 0.5em;
  overflow: hidden;
  align-items: center;

  &:hover {
    background-color: rgb(from var(--background-color) calc(r + 30) calc(g + 30) calc(b + 30));
  }
}

.emptyListing {
  height: 100%;
  width: 100%;
  background-color: rgb(from var(--background-color) calc(r + 10) calc(g + 10) calc(b + 10));
  border-radius: 0.5em;
  place-items: center;
  place-content: center;
}

.players {
  height: 100%;
  grid-area: players;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.playerEntry {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr;
  justify-items: start;
  gap: .5em;
}

.active {
  box-shadow: 0 0 var(--highlight-blur-radius) var(--highlight-radius) #0ddddd;
}

.name {
  grid-area: name;
}

.player:nth-of-type(1) {
  grid-area: player1;
}

.player:nth-of-type(2) {
  grid-area: player2;
}

.player:nth-of-type(3) {
  grid-area: player3;
}

.player:nth-of-type(4) {
  grid-area: player4;
}

.enter {
  grid-area: enter;
}

.abandon {
  grid-area: abandon;
}

.waiting {
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}