.cardFrame {
  display: grid;
  align-items: center;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 0.5em;
  position: relative;
}

.card {
  display: grid;
  grid-template: "card-front" 100% / 1fr;
  align-items: center;
  justify-content: center;
  aspect-ratio: 59 / 93;
  background-color: #f0f0f0;
  border-radius: 0.5em;
  gap: 0.25em;

  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  /* font-size: var(--card-normal-font-size); */
  width: var(--card-normal-width);

  box-shadow: 0 0 1px 1px black;
  transition: opacity .25s ease;
}

.highlightedBuy {
  box-shadow: 0 0 1px 1px black, 0 0 var(--highlight-blur-radius) var(--highlight-radius) rgb(233, 208, 68);
}

.highlightedPlay {
  box-shadow: 0 0 1px 1px black, 0 0 var(--highlight-blur-radius) var(--highlight-radius) #0ddddd;
}

.highlightedDiscard {
  box-shadow: 0 0 1px 1px black, 0 0 var(--highlight-blur-radius) var(--highlight-radius) #dd00d0;
}

.highlightedSelect {
  box-shadow: 0 0 1px 1px black, 0 0 var(--highlight-blur-radius) var(--highlight-radius) #64b4ff;
}

.highlightedSelected {
  box-shadow: 0 0 1px 1px black, 0 0 0px 2.5px gold;
}

.dimmed:not(:hover) {
  opacity: 0.625;
}

.cardFrame:not(:hover) .card.compact {
  aspect-ratio: 1 / 1;
  grid-template:
    "card-front" 84%
    "card-bottom" 16% / 1fr;
}

.cardFrame:hover .card.compact {
  aspect-ratio: 59 / 93;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(1.2);
  transform-origin: left top;
  transition: transform .2s ease-in-out;
  /* transition: transform 0.2s ease, top 0.2s ease, left 0.2s ease, position 0.2s ease; */
  z-index: 100;
}

.cardFrame:hover .card:not(.compact, .dimmed) {
  transform: scale(1.05);
  transition: transform .25s ease;
}

.cardFrame:hover .card.compact>* {
  display: none;
}

.cardFront {
  background-size: cover;
  background-repeat: no-repeat;
}

.cardBottom {
  grid-area: card-bottom;
  width: 100%;
  height: 100%;
  align-self: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 96%;
  border-radius: 0.5em;
  box-shadow: inherit;
}

.remaining {
  grid-area: card-bottom;
  background-color: inherit;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 1.75em;
  aspect-ratio: 1 / 1;
  align-content: center;
  font-weight: 500;
  align-self: end;
  justify-self: end;
  position: relative;
  z-index: 0.5;
  left: .25em;
  top: .25em;
  box-shadow: 0 0 1px 1px black;
}