p {
  margin: 0;
}

.cardPile {
  display: grid;
  grid-template: "card" 1fr / 1fr;

  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 59 / 93;
  background-color: #f0f0f0;
  border-radius: 0.5em;
  gap: 0.25em;

  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  font-size: var(--card-normal-font-size);
  width: var(--card-normal-width);
}

.cardPile > .card {
  grid-area: card;
}

.cost {
  grid-area: cost;
}

.name {
  grid-area: name;
  font-size: var(--card-normal-name-size);
}

.text {
  grid-area: text;
  word-wrap: break-word;
}

.types {
  grid-area: types;
}

.card.compact {
  aspect-ratio: 1 / 1;
}

.cardPile:hover > .card.compact {
  aspect-ratio: 59 / 93;
  position: absolute;
  transform: scale(1.5);
  transition: transform 0.2s ease;
  z-index: 1;
}

.discard,
.deck {
  display: grid;
  grid-template:
    "title" 1fr "card" auto
    "remaining" 1fr / 1fr;

  align-items: center;
  justify-content: center;
  width: var(--card-normal-width);
  height: 100%;
  gap: 1rem;
}

.title {
  grid-area: title;
  align-self: end;
}

.remaining {
  background-color: white;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 100;
  grid-area: remaining;
  align-self: end;
  justify-self: end;
  position: relative;
  left: -5px;
}

.white {
  background-color: white;
}

.cardBack {
  background-image: url("src/card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cardFront {
  background-size: cover;
  background-repeat: no-repeat;
}

.cardBottom {
  display: none;
}

.cardPile:not(:hover) .cardBottom {
  display: block;
  width: 100%;
  height: 16%;
  align-self: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 96%;
  border-radius: 0.5em;
}
