.log {
  text-align: start;
  width: 22em;
  height: calc(100% - 2em);
  max-height: 45dvh;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  overflow: scroll;
  padding: 1em;
  margin: 1em;
  grid-area: log;
  background-color: rgb(from var(--background-color) calc(r + 20) calc(g + 20) calc(b + 20));
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
  justify-self: end;
}