.log {
  text-align: start;
  position: relative;
  width: 22em;
  height: 15em;
  padding: 1em;
  display: grid;
  grid-auto-flow: row;
  align-content: start;
  background-color: var(--lighter-background);
  box-shadow: 0 0 var(--shadow-depth) 1px var(--shadow-color);
}

.messages {
  overflow-y: scroll;
  display: grid;
  grid-auto-flow: row;
}