.board {
  grid-area: board;
  display: grid;
  grid-template:
    "curse estate duchy province line pile5 pile4 pile3 pile2 pile1" 1fr
    ". copper silver gold line pile10 pile9 pile8 pile7 pile6" 1fr / var(--card-normal-width
    ) var(--card-normal-width) var(--card-normal-width) var(--card-normal-width
    ) 1px var(--card-normal-width) var(--card-normal-width) var(--card-normal-width
    ) var(--card-normal-width) var(--card-normal-width);

  gap: 1em;
}

.line {
  height: 100%;
  width: 0px;
  /* border: 0.5px solid black; */
  box-shadow: 0 0 0px 0.125px black;
  margin: 0;
  grid-area: line;
}