.container {
  container-type: size;
  container-name: board;
  width: 100%;
  height: 100%;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    "defaults nonDefaults" 1fr / max-content 1fr;
  justify-self: start;
  /* border: 2px solid fuchsia; */
  gap: .3em;
}

.defaults {
  /* font-size: .90em; */
  /* font-size: clamp(1px, 3.4cqw, min(2.59cqw, 5.5cqh)); */
  font-size: min(2.59cqw, 5.5cqh);
  width: max-content;
  height: max-content;
  grid-area: defaults;
  display: grid;
  grid-template: "province gold" min-content "duchy silver" min-content "estate copper" min-content "curse ." min-content / var(--card-width) var(--card-width);
  gap: .30em;
  place-self: start;
}

.nonDefaults {
  font-size: min(3.4cqw, 7.25cqh);
  width: max-content;
  height: max-content;
  grid-area: nonDefaults;
  display: grid;
  grid-template: "pile5 pile4 pile3 pile2 pile1" 1fr
    "pile10 pile9 pile8 pile7 pile6" 1fr / var(--card-width) var(--card-width) var(--card-width) var(--card-width) var(--card-width);
  gap: .30em;
  place-self: start;
}

/* @container board (max-aspect-ratio: 2) {
  .defaults {
    grid-template: "province gold" min-content "duchy silver" min-content "estate copper" min-content "curse ." min-content / var(--card-width) var(--card-width);
  }

  .nonDefaults {
    font-size: clamp(1px, 3.3cqw, 7.25cqh);
  }
} */

@container board (max-aspect-ratio: 1.2) {
  .board {
    grid-template: "nonDefaults" max-content "defaults" min-content / 1fr
  }

  .defaults {
    display: grid;
    grid-template: "curse estate duchy province copper silver gold" min-content / var(--card-width) var(--card-width) var(--card-width) var(--card-width) var(--card-width) var(--card-width) var(--card-width);
    font-size: clamp(1px, 5.35cqh, 3.133cqw);
    place-self: end;
  }

  .nonDefaults {
    font-size: clamp(1px, 10cqh, min(7.25cqh, 4.4cqw));
    place-self: end;
  }
}

@container board (max-aspect-ratio: .8) {
  .defaults {
    display: grid;
    grid-template: "curse estate duchy province" min-content ". copper silver gold" min-content / var(--card-width) var(--card-width) var(--card-width) var(--card-width);
    font-size: clamp(1px, 10cqh, min(7.25cqh, 4.4cqw));
    justify-self: end;
  }

  .nonDefaults {
    font-size: clamp(1px, 10cqh, min(7.25cqh, 4.4cqw));
    place-self: end;
  }
}