.kingdom {
  height: calc(100%);
  width: calc(100%);
  padding: 0em 1em 1em 1em;
  background-color: rgb(from var(--background-color) calc(r + 10) calc(g + 10) calc(b + 10));
  overflow: scroll;
  /* border-radius: 1em; */
  box-shadow: 0 0 var(--shadow-depth) 0 var(--shadow-color);
  display: grid;

  grid-template-rows: auto 1fr;
  z-index: 9001;
  position: absolute;
}

.cards {
  width: max-content;
  height: max-content;
  display: grid;
  grid-template: "pile5 pile4 pile3 pile2 pile1" 1fr
    "pile10 pile9 pile8 pile7 pile6" 1fr / var(--card-normal-width) var(--card-normal-width) var(--card-normal-width) var(--card-normal-width) var(--card-normal-width);
  grid-auto-flow: column;
  gap: .125em;
  font-size: 1.4em;
  place-items: center;
  place-content: center;
  place-self: center;


  >* {
    box-shadow: 0 0 var(--shadow-depth) 0 var(--shadow-color);
  }
}