.hud {
  grid-area: player;
  display: grid;
  grid-template: "resources hand discard deck controls" 1fr / 2fr 10fr auto auto 10em;
  width: 100%;
  height: 100%;
  gap: 1em;
  padding: 0 1em;
  align-items: center;
  justify-items: center;
  position: relative;
}

.hudActive {
  box-shadow: 0 0 var(--highlight-blur-radius) var(--highlight-radius) #9e4c98;
}

.playerName {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 1;
  padding: .5em;
}

.hand {
  grid-area: hand;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-self: start;
}

.deck {
  grid-area: deck;
}

.discard {
  grid-area: discard;
}

.controls {
  width: 100%;
  grid-area: controls;
  display: flex;
  flex-direction: column;
  gap: 1em;
}