html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

button {
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 1px 1px var(--icon-highlight-color), -.05em .1em .1em black;
  padding: 0.5em;
  font-size: var(--font-size);
  width: max-content;

  &:disabled {
    opacity: .5;
  }

  &:hover:not(:disabled) {
    background-color: oklch(from var(--button-bg-color) calc(l + .1) c h);
  }
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  --bg-start: oklch(.4 .06 320 / 1);
  --bg-end: oklch(.35 .06 345 / 1);
  --bg: radial-gradient(ellipse at center, var(--bg-start), var(--bg-end));
  background: var(--bg);
}

#root {
  --card-width: 4.25em;
  --highlight-radius: 0.1em;
  --highlight-blur-radius: 0;
  --bg-color: oklch(24.995% 0.00302 16.842);
  --lighter-background: oklch(.45 .08 320 / 1);
  --interaction-gradient: linear-gradient(45deg, oklch(.3 .1 0 / 1), oklch(.3 .1 90 / 1));
  --icon-color: oklch(60% 0.13 301.8);
  --icon-highlight-color: oklch(80% .2 301.8);
  --button-bg-color: oklch(.4 0.1 310);
  --color: oklch(95% 0.04 310);
  --button-color: oklch(from var(--color) l c h);
  --icon-width: 1.5em;
  --shadow-depth: .25em;
  --shadow-color: oklch(17.30% 0.0000 0);
  --indicator-shadow:
    0 0 var(--highlight-blur-radius) var(--highlight-radius) var(--icon-highlight-color);

  display: grid;
  background: var(--bg);
  grid-template: "root" 1fr / 1fr;
  place-items: center;
  place-content: center;
  text-shadow: -.05em .1em .1em black;
  padding: .25em;
  text-align: center;
  overflow: hidden;
  font-size: var(--font-size);
  color: var(--color);
  margin: 0;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  height: 100dvh;
  width: 100dvw;

  --font-size: calc(3.6dvh);

  @media (max-aspect-ratio: 1.28) {
    --font-size: calc(3.6dvw / 1.28);
  }

  >* {
    grid-area: root;
  }
}

::selection {
  background: inherit;
}

/* css.gg icons */

.icon {
  aspect-ratio: 1 / 1;
  width: var(--icon-width);
  border: .25em solid transparent;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--icon-color);
  border-radius: .5em;
  box-shadow: 0 0 1px 1px black;
}

button.icon:hover:not(:disabled) {
  background-color: oklch(from var(--icon-color) calc(l + .1) c h);
}

.iconEyeOff {
  background-image: url("/icons/eye-off.svg");
}

.iconEye {
  background-image: url("/icons/eye.svg");
}

.iconTriangle {
  background-image: url("/icons/triangle.svg");
}

.iconEllipsis {
  background-image: url("/icons/ellipsis.svg");
}

.iconEndPhase {
  background-image: url("/icons/skip.svg");
}

.iconEndTurn {
  background-image: url("/icons/fastForward.svg");
}

.iconUndo {
  background-image: url("/icons/undo.svg");
}

.iconLeave {
  background-image: url("/icons/door.svg");
}

.iconInfo {
  background-image: url("/icons/users.svg");
}

.iconHistory {
  background-image: url("/icons/scroll.svg");
}

.iconKingdom {
  background-image: url("/icons/castle.svg");
}

.iconCleanup {
  background-image: url("/icons/broom.svg");
}

.iconActions {
  background-image: url("/icons/gear.svg");
}

.iconBuys {
  background-image: url("/icons/buy.svg");
}

.iconCoins {
  background-image: url("/icons/coins.svg");
}

.iconLogOut {
  background-image: url("/icons/log-out.svg");
  border-radius: 0;
}

.iconAdd {
  background-image: url("/icons/math-plus.svg");
  border-radius: 50%;
}

.iconSync {
  background-image: url("/icons/sync.svg");
  border-radius: 50%;
}

.iconEnter {
  background-image: url("/icons/enter.svg");
  border-radius: 0;
}

.iconClose {
  background-image: url("/icons/close.svg");
  border-radius: 50%;
}

.iconUser {
  background-image: url("/icons/user.svg");
  border-radius: 50%;
}

.iconCrown {
  background-image: url("/icons/crown.svg");
  border-radius: 50%;
}

.icon1 {
  background-image: url("/icons/dice-1.svg");
  border-radius: 50%;
}

.icon2 {
  background-image: url("/icons/dice-2.svg");
  border-radius: 50%;
}

.icon3 {
  background-image: url("/icons/dice-3.svg");
  border-radius: 50%;
}

.icon4 {
  background-image: url("/icons/dice-4.svg");
  border-radius: 50%;
}