html {
  --background-color: oklch(21.42% 0.0025 67.7);
  --button-color: oklch(37.53% 0.0000 0);
  background-color: var(--background-color);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  font-family: inherit;
  background-color: var(--button-color);
  color: inherit;
  border: none;
  border-radius: 1em;
  box-shadow: 0 0 1px 1px #9e4c98, 0 0 var(--shadow-depth) 0px var(--shadow-color);
  padding: 0.5em;
  font-size: var(--font-size);
  width: max-content;

  &:disabled {
    opacity: .5;
  }

  &:hover:not(:disabled) {
    background-color: oklch(from var(--button-color) calc(l + .1) c h);
  }
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}


#root {
  /* --layout-border: 2px solid fuchsia; */
  padding: .25em;
  text-align: center;
  --card-width: 4.25em;
  --highlight-radius: 0.1em;
  --highlight-blur-radius: 0;
  overflow: hidden;
  font-size: var(--font-size);
  --background-color: oklch(21.42% 0.0025 67.7);
  --lighter-background: oklch(from var(--background-color) calc(l + .1) c h);
  background-color: var(--background-color);
  --icon-color: oklch(70% 0.08 318.5);
  --icon-highlight-color: oklch(80% .4 250);
  color: var(--icon-color);
  --icon-width: 1.5em;
  --shadow-depth: .5em;
  --shadow-color: oklch(17.30% 0.0000 0);
  margin: 0;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --indicator-shadow:
    0 0 var(--highlight-blur-radius) var(--highlight-radius) var(--icon-highlight-color);


  height: 100dvh;
  width: 100dvw;

  --font-size: calc(3.6dvh);

  @media (max-aspect-ratio: 1.28) {
    --font-size: calc(3.6dvw / 1.28);
  }
}

::selection {
  background: inherit;
}

/* css.gg icons */

.icon {
  aspect-ratio: 1 / 1;
  width: var(--icon-width);
  border: .25em solid transparent;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--icon-color);
  border-radius: .25em;
}

button.icon:hover:not(:disabled) {
  background-color: oklch(from var(--icon-color) calc(l + .1) c h);
}

.iconTriangle {
  background-image: url("/icons/triangle.svg");
}

.iconEllipsis {
  background-image: url("/icons/ellipsis.svg");
}

.iconEndPhase {
  background-image: url("/icons/skip.svg");
}

.iconEndTurn {
  background-image: url("/icons/fastForward.svg");
}

.iconUndo {
  background-image: url("/icons/undo.svg");
}

.iconLeave {
  background-image: url("/icons/door.svg");
}

.iconInfo {
  background-image: url("/icons/users.svg");
}

.iconHistory {
  background-image: url("/icons/scroll.svg");
}

.iconKingdom {
  background-image: url("/icons/castle.svg");
}

.iconCleanup {
  background-image: url("/icons/broom.svg");
}

.iconActions {
  background-image: url("/icons/gear.svg");
}

.iconBuys {
  background-image: url("/icons/buy.svg");
}

.iconCoins {
  background-image: url("/icons/coins.svg");
}

.iconLogOut {
  background-image: url("/icons/log-out.svg");
  border-radius: 0;
}

.iconAdd {
  background-image: url("/icons/math-plus.svg");
  border-radius: 50%;
}

.iconSync {
  background-image: url("/icons/sync.svg");
  border-radius: 50%;
}

.iconEnter {
  background-image: url("/icons/enter.svg");
  border-radius: 0;
}

.iconClose {
  background-image: url("/icons/close.svg");
  border-radius: 50%;
}

.iconUser {
  background-image: url("/icons/user.svg");
  border-radius: 50%;
}

.iconCrown {
  background-image: url("/icons/crown.svg");
  border-radius: 50%;
}

.icon1 {
  background-image: url("/icons/dice-1.svg");
  border-radius: 50%;
}

.icon2 {
  background-image: url("/icons/dice-2.svg");
  border-radius: 50%;
}

.icon3 {
  background-image: url("/icons/dice-3.svg");
  border-radius: 50%;
}

.icon4 {
  background-image: url("/icons/dice-4.svg");
  border-radius: 50%;
}