.discard {
  display: grid;
  grid-template:
    "title" auto "card" 1fr
    "remaining" auto / 1fr;

  align-items: center;
  justify-content: center;
  width: var(--card-width);
  height: 100%;
  gap: 0.5em;
  font-size: .35em;
}

.title {
  grid-area: title;
  align-self: end;
}

.remaining {
  grid-area: remaining;
  align-self: start;
}

.card {
  grid-area: card;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
  border-radius: 0.25em;
  gap: 0.25em;

  background-size: cover;
  background-repeat: no-repeat;
  border: none;

  /* font-size: var(--card-normal-font-size); */
  width: var(--card-width);
}

.white {
  background-color: var(--background-color);
}