.deck {
  display: grid;
  grid-template:
    "title" 1fr "card" auto
    "remaining" 1fr / 1fr;

  align-items: center;
  justify-content: center;
  width: var(--card-normal-width);
  height: 100%;
  gap: .5em;
}

.title {
  grid-area: title;
  align-self: end;
}

.remaining {
  grid-area: remaining;
  align-self: start;
}

.card {
  grid-area: card;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 59 / 93;
  background-color: var(--background-color);
  border-radius: 0.5em;
  gap: 0.25em;

  background-size: contain;
  background-repeat: no-repeat;
  border: none;

  /* font-size: var(--card-normal-font-size); */
  width: var(--card-normal-width);
}

.cardBack {
  background-image: url("src/card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.white {
  background-color: var(--background-color);
}